.btn-novo{
    background-color: red;
    color: white;
    font-weight: bold;
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
    transition: all 0.1s linear 0.1s;
}

.btn-novo:hover{
    box-shadow: rgba(100,100,111,0.2) 0px 7px 7px 0px;
    transform: scale(1.1);
}